.gender {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    border: 1px solid #EBEBEB;
    border-radius: 13px;
    background: #FDFDFF;
}

.gender__header {
    display: flex;
    justify-content: space-between;
}

.gender__title {
    margin: 23px 0 0 24px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: start;
    color: #4F4F4F;
}

.img__diagram-gender {
    width: 100%;
    height: 100%;
}

.gender__square {
    display: flex;
}

.gender__legend {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
}

.gender__text {
    margin: 0 20px 0 6px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #4F4F4F;
}
