.geo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr;
    border: 1px solid #EBEBEB;
    border-radius: 13px;
    background: #FDFDFF;
}

.geo__title {
    margin: 23px 0 0 24px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: start;
    color: #4F4F4F;
}

.geo__text {
    text-align: end;
    margin: 30px 24px 0 0;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #4F4F4F;
}

.grey-text {
    margin-left: 7px;
    color: #979797;
}

.geo__img {
    grid-column: 1 / span 2;
    width: 85%;
    align-items: center;
    margin-left: 23px;
}