html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrap {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
    min-height: 880px;
    overflow: hidden;
}
